# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

pool:
  name: OCI

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '20.x'
  displayName: 'Install Node.js'

- script: |
    npm install
  displayName: 'npm install'

#- bash: |
#    NAMESPACE_VAL=$(oci os ns get | jq -r .data)
#    echo "##vso[task.setvariable variable=NAMESPACE]$NAMESPACE_VAL"
#  displayName: 'Get and Set OCI Namespace'

- bash: |
    NAMESPACE_VAL=$(oci os ns get --auth=instance_principal | jq -r .data)
    echo "##vso[task.setvariable variable=NAMESPACE]$NAMESPACE_VAL"
  displayName: 'Get and Set OCI Namespace'
  
- script: |
    sed -i "s/NAMESPACE/$(NAMESPACE)/g" nodejsdemo.yaml
    sed -i "s/TAG/latest/g" nodejsdemo.yaml
  displayName: 'Setup OKE yaml NAMESPACE and IMAGE TAG'

#- script: |
#    oci raw-request --region eu-frankfurt-1 --http-method GET --target-uri 'https://fra.ocir.io/20180419/docker/token' | jq -r .data.token | podman login -u BEARER_TOKEN --password-stdin fra.ocir.io
#  displayName: 'get OCIR token'
#    # Create OCIR auth short-lived token
#    # This example uses OCIR in FRA region (replace in necessary)

- script: |
    oci raw-request --region eu-frankfurt-1 --http-method GET --target-uri 'https://fra.ocir.io/20180419/docker/token' --auth=instance_principal | jq -r .data.token | podman login -u BEARER_TOKEN --password-stdin fra.ocir.io
  displayName: 'get OCIR token'
    # Create OCIR auth short-lived token
    # This example uses OCIR in FRA region (replace in necessary)

- script: |
    podman build -t 'fra.ocir.io/$(NAMESPACE)/nodejsdemo:latest' .
    podman push 'fra.ocir.io/$(NAMESPACE)/nodejsdemo:latest'
  displayName: 'build and push to OCIR'

- script: |
    kubectl delete deployment nodejsdemo --ignore-not-found=true
    kubectl create -f nodejsdemo.yaml
  displayName: 'redeploy to OKE'
